{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable = no"
    />
    <title>DAY ONE</title>
    <link rel="stylesheet" href="{% static 'mainpage/style.css' %}" />
    <link rel="stylesheet" href="{% static 'grid.css' %}" />
    <link rel="stylesheet" href=" {% static 'back.css' %}" />
    {% block style %}{% endblock style %}
  </head>

  <body>
    <div id="frame">
      <div id="header" class="container">
        <div id="header_content" class="row">
          {% block back %}<a class = "img_link" href = "{% url "mainpage:index" %}"><img
            id="logo_image"
            src="{% static 'mainpage/assets/logo.png' %}"
          /></a>{% endblock back %}

          <a id="login">로그인</a>
          <div id="nav_icon">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>

      <div id="nav_bar">
        <div id="nav_top">
          <img src="{% static 'mainpage/assets/back.png' %}" />
        </div>
        <div id="nav_content">
          <ul>
            <li><a id="to_login" href="#">로그인</a></li>
            <li><a id="to_home" href = "{% url "mainpage:index" %}">홈</a></li>
            <li><a id="to_my" href="#">마이페이지</a></li>
          </ul>
        </div>
      </div>
  {% block content %}{% endblock content %}

  <script src="{% static 'mainpage/index.js' %}"></script>
  {% block js %}{% endblock js %}
  </body>
</html>
