/* pre-setting */

@font-face {
  font-family: PoetsenOne;
  src: url(assets/PoetsenOne-Regular.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

.container {
  width: 100%;
}

.position_box {
  position: absolute;
}

/* header */

#header {
  position: sticky;
  top: 0;
  height: 7vh;
  background-color: white;
  z-index: 8;
}

#header_content {
  height: 7vh;
}

#logo_image {
  position: absolute;
  left: 9px;
  height: 5vh;
  object-fit: cover;
  transform: scale(1.4, 1.4);
}

#login {
  position: absolute;
  right: 46px;

  color: #ff5353;
  font-size: 13px;
  line-height: 16px;
  padding: 0px 8px;
  border: 2px solid #ff5353;
  box-sizing: border-box;
  border-radius: 6px;
}

#nav_icon {
  position: absolute;
  right: 14px;
}

#nav_icon div {
  width: 20px;
  height: 0px;
  background: #c4c4c4;
  border: 2px solid #ff5353;
  border-radius: 4px;
  margin-bottom: 3px;
}

#nav_icon:last-child {
  margin-bottom: 0;
}

#nav_input {
  display: none;
}

/* main */

#main {
  background-color: #ff5353;
  height: 95vh;
  margin: 0 auto;
}

#main_content {
  height: 95vh;
}

#main_content h1 {
  position: absolute;
  left: 15px;
  top: 132px;

  color: white;
  font-family: PoetsenOne;
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
  line-height: 80px;
  text-align: left;
}

#main_content span {
  color: rgba(255, 255, 255, 0.7);
}

#main_content img {
  z-index: 5;
  position: absolute;
}

#firework_1 {
  width: 63px;
  height: 63px;
  left: calc(70vw - 63px / 2);
  top: calc(70vh - 63px / 2);
}

#firework_2 {
  width: 46px;
  height: 46px;
  left: calc(80vw - 23px);
  top: calc(60vh - 23px);
}

/* navigation bar */

#nav_top {
  height: 10vh;
  background-color: #ffe9e2;
}

#nav_top img {
  margin-left: 10px;
  margin-top: 10px;
}

#nav_content {
  height: 90vh;
  background-color: white;
}

#nav_content li {
  padding-top: 20px;
  padding-left: 16px;
}

#nav_content a {
  color: #ff5353;
}

#nav_bar {
  position: fixed;
  top: 0;
  right: -231px;
  width: 231px;
  height: 100vh;
  z-index: 10;
  transition: 0.5s;
}

/* section */

#shortcut_1 {
  background-image: url("assets/section_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#shortcut_1 .position_box h3 {
  position: absolute;
  left: calc(50vw - 192px / 2);
  top: calc(40vh * 0.26);
  width: 192px;
  height: 52px;
  font-family: PoetsenOne;
  font-style: normal;
  font-weight: normal;
  font-size: 43px;
  line-height: 52px;

  color: #ff5353;
}

#shortcut_1 .position_box a {
  position: absolute;
  left: 5vw;
  top: calc(40vh * 0.51);
  width: 90vw;
  height: calc(40vh * 0.2);

  border: 2px solid #ffffff;
  border-radius: 6px;
  text-align: center;
  line-height: calc(40vh * 0.2);
  background: #ffffff;
  color: #ff5353;
}

#shortcut_2 {
  background-color: rgba(255, 124, 83, 0.17);
}

#shortcut_2 .position_box a {
  position: absolute;
  left: 5vw;
  top: calc(40vh * 0.4);
  width: 90vw;
  height: calc(40vh * 0.2);

  text-align: center;
  line-height: calc(40vh * 0.2);
  background-color: #ff5353;
  color: #ffffff;
  border: 2px solid #ff5353;
  border-radius: 6px;
}

#shortcut_2 .position_box img {
  position: absolute;
  left: calc(100vw - 173px);
  top: calc(40vh - 101px);
  width: 173px;
  height: 91px;
}

.shortcut {
  height: 40vh;
}
