@font-face {
  font-family: "PoetsenOne";
  src: url(../mainpage/assets/PoetsenOne-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "PoetsenOne";
  margin: 0;
  padding: 0;
}

/*back_image*/
#back_image {
  position: absolute;
  left: 5px;
  height: 4vh;
  object-fit: cover;
  transform: scale(0.8, 0.8);
}

#cal-top {
  border: 1px solid;
  border-color: #ff5353;
  background-color: #ff5353;
  height: 7vh;
}

td:not(.not) {
  background-color: white;
  border: 1px solid;
  border-color: #fc7373;
  text-align: center;
  width: 100/7%;
  height: 7vh;
}

td:not(.not, .day) {
  vertical-align: top;
  text-align: left;
}
/*
#backButton {
  display: inline-block;
  background-color: #ffffff;
  text-align: left;
  float: left;
  height: 5vh;
  width: 6%;
}

#menuButton {
  display: inline-block;
  background-color: #ffffff;
  height: 5vh;
  width: 6%;
  text-align: right;
  float: right;
}
*/
#cal {
  /*background-color: #ffe9e2;*/
  background-color: #ffe9e2;
  border-radius: 25px;
  width: 100%;
  height: 54vh;
  margin-top: -6vh;
  margin-bottom: 15vh;
}
/*margin-top bottom과 height 합쳐서 64vh로!*/
#calendar {
  table-layout: fixed;
  border-collapse: collapse;
  position: absolute;
  box-shadow: 2px 3px 3px gray;
  top: 11vh;
}

.button {
  display: inline-block;
  background-color: #ffffff;
}

#prev {
  border: 2px solid #ffffff;
  border-right: 4px solid #ffffff;
  border-radius: 2px;
  vertical-align: middle;
}

#prevButton {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-right: 6px solid #ff5353;
  border-bottom: 6px solid transparent;
}

#next {
  border: 2px solid #ffffff;
  border-left: 4px solid #ffffff;
  border-radius: 2px;
  vertical-align: middle;
}

#nextButton {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-left: 6px solid #ff5353;
  border-bottom: 6px solid transparent;
}

#tbCalendarYM {
  vertical-align: middle;
}

#Sun {
  color: #ff5353;
}
/*
#information {
  padding: auto 1%;=>인식 못하는 듯?
}*/
#notice {
  background-color: rgb(250, 220, 225);
  border-radius: 16px;
  margin: auto 1%;
  /*color: white;*/
  height: 30vh;
  text-align: center;
  /*line-height: 20vh;*/
  /*padding-top: 2vh;*/
  /*margin-top=>줘도 변화x 이미 위에서 줘서 그런 듯..
  margin은 중복 안되는 듯.. ?*/
}

.notice0 {
  height: 4vh;
  width: 4vh;
  padding: 2vh 2vh 2vh 4vh;
  float: left;
}
.noticeCircle {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: #f9ece8;
  box-shadow: -2px -2px 2px gray;
}

.notice1 {
  height: 8vh;
  /*width: 41vh;*/
  width: 80%;
  float: left;
}

.noticeReservation {
  background-color: #f9ece8;
  color: #ff5353;
  height: 6vh;
  border-radius: 15px;
  /*
  display: table-cell;
  vertical-align: center;*/
  line-height: 6vh;
  text-align: center;
  margin: 1vh;
  box-shadow: -2px -2px 4px gray;
}

#booking {
  background-color: white;
  height: 15vh;
  padding-left: 70%;
}
/*
#bookingButton {
  display: inline-block;
  background-color: #ff5353;
  border-color: #ff5353;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-size: 3vh;
  margin: 8vh auto;
  height: 8vh;
}
*/

#bookingButton {
  /*display: inline-block;*/
  background-color: #ff5353;
  border-color: #ff5353;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 4vh;
  margin-top: 4vh;
}

#circle {
  position: absolute;
  top: 0;
  right: 0px;
  display: inline-block;
  background-color: #faf58c;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 50%;
}
